html{
    background-color: beige;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#command-input{
    display: inline;
}

input{
    padding: 5px;
    /* the width, see if it is different percent if the window is lower */
    width: 50%;
    box-sizing: border-box;
}